<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @admin_site_type_admin.name %>
</p>

<%= link_to 'Edit', edit_admin_site_type_admin_path(@admin_site_type_admin) %> |
<%= link_to 'Back', admin_site_type_admins_path %>
