<main>
    <section id="popular-dishes">
        <img src="<%= image_path('title-detail.png') %>" alt="title-detail">
        <h2>Nos Abonnements</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
        <hr>
        <div class="card-group">
            <% @subs.each do |subscription|%>
                    <%= render 'cart', item: subscription%>
            <%end%>
        </div>
    </section>
</main>

<link href="http://netdna.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="http://code.jquery.com/jquery-1.11.1.min.js"></script>
    <script src="http://netdna.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="table.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- <link rel="stylesheet" type="text/css" href="style.css"> -->

    <!-- jQuery -->
    <script type="text/javascript" src="/assets/jquery-1.11.1.min.js"></script>
    <!-- bxSlider -->
    <script type="text/javascript" src="/assets/jquery.bxslider.min.js"></script>
    <!-- magnificPopup -->
    <script type="text/javascript" src="/assets/jquery.magnific-popup.min.js"></script>
    <!-- Img Liquid -->
    <script type="text/javascript" src="/assets/imgLiquid-min.js"></script>
    <!-- Tooltipster -->
    <script type="text/javascript" src="/assets/jquery.tooltipster.min.js"></script>
    <!-- Main -->
    <script type="text/javascript" src="/assets/main.js"></script>