<h3 class="title-dish center-title-categirie">
    <%=item.name%>
</h3>
<ul class="dishes">
    <% item.dishes.order(:cached_votes_down).each do |dish|%>
        <%= render 'dish', item: dish%>
            <%end%>
</ul>