<main>
    <section id="popular-dishes">
        <img src="<%= image_path('title-detail.png') %>" alt="title-detail">
        <h2>Nos <%=@type.name%></h2>
            <% @category.each do |category|%>
                <%= render 'category', item: category%>
            <%end%>
    </section>
</main>