<div class="footer">
  <div class="wrapper">
    <div class="footnav">
      <ul>
        <li><i class="fa greedot" style="display:none"></i><a href="/" rel="nofollow">Home</a></li>
        <li><i class="fa greedot"></i> <a href="/about-us" rel="nofollow">About Us</a></li>
        <li><i class="fa greedot"></i> <a href="/customer-faq">Customer Faq</a></li>
        <li><i class="fa greedot"></i> <a href="/how-to-order">How to order</a></li>
        <li><i class="fa greedot"></i> <a href="/privacy">Privacy Policy</a></li>
        <li><i class="fa greedot"></i> <a href="/terms">Terms of use</a></li>
       </ul>
    </div>
    <div class="splitleft"><img src="http://www.marketresearchnreports.com/image/catalog/LOGO/newlogo_footer.png" width="304px" height="44px" alt="Market Research Reports" title="Market Research Reports">
      <div class="copyright">© Copyright 2017 Market Resarch N Reports
        and its Affiliates. All Rights Reserved</div>
      <div class="social"> <a href="https://www.facebook.com/MarketResearchnReports" class="fb"></a> <a href="https://twitter.com/M_R_N_Reports" class="twitter"></a> <a href="#" class="rss"></a> <a href="https://plus.google.com/u/0/108539850578001839029" class="gplus"></a> </div>
    </div>
    <div class="splitmid">
      <h3>Newsletter Sign Up</h3>
      Signup for latest updates &amp; promos
      <div class="newsletterBox">
        <input type="text" class="txtfld" placeholder="YOUR EMAIL">
        <button class="btn">SEND</button>
      </div>
	  <strong>Payment Options:</strong><br><br>
      <img src="http://origin.acutemarketreports.com/img/payment-gateway.png" width="250px" height="26px" alt="Payment options"> </div>
    <div class="splitright">
      <h3>Contact us</h3>
      <div class="row"> <i class="fa loc"></i> <strong>MARKET RESEARCH N REPORTS</strong><br>
         30L Atlantic Avenue,<br>
         Suite L 105, Ocean View<br>
		 Delaware 19970<br>
		United States
      </div>
      <div class="row"> <i class="fa phone"></i>  Toll Free(US/CANADA): +1-844-403-7515 <br><font style="padding-left:22px">India: +91 9730197250</font>  </div>
      <div class="row"> <i class="fa mail"></i> <a href="mailto:sales@marketresearchnreports.com" id="A_55">sales@marketresearchnreports.com</a> </div>
    </div>
  </div>
</div>