<li>
    <div>
        <%= image_tag item.logo, alt:"menu-dish" %>
            <a href="/assets/menu/full_size.png">
                <div>
                    <img src="/assets/plus-icon.png" alt="plus-icon">
                    <p>Click pour en savoir plus</p>
                </div>
            </a>
    </div>
    <h5>
        <%= item.name %>
    </h5>
</li>