<main>
    <section id="popular-dishes">
        <img src="<%= image_path('title-detail.png') %>" alt="title-detail">
        <h2>Nos restaurants</h2>
        <p>Choisissez en un clique votre restaurant préféré </p>
        <hr>
        <ul class="dishes resto">
            <% @subscription.each do |subs|%>
                <% subs.restaurants.order(:cached_votes_down).each do |resto|%>
                    <%= render 'restaurant', item: resto%>
                <%end%>
            <%end%>
        </ul>
    </section>
</main>
