
    <section id="popular-dishes">
        <img src="<%= image_path('title-detail.png') %>" alt="title-detail">
        <h2>Nos restaurants</h2>
        <p>
        Dans lequel commanderiez-vous?? </br>
        Cliquez et vous allez voir leurs mets succulents.</br>
        N’oubliez pas de “Liker” vos restaurants préférés.
        </p>
        <hr>
        <ul class="dishes resto">
            <% @subscription.each do |subs|%>
                <% subs.restaurants.order(:cached_votes_down).each do |resto|%>
                    <%= render 'restaurant', item: resto%>
                <%end%>
            <%end%>
        </ul>
    </section>

