<main>
<%= render 'layouts/navbar'%>
    <section id="blog">
        
        <article>
             <%= image_tag @restaurant.picture, class:"image_cover"%>
        </article>

        <section>
        <div>
            <h6 class="name-profil">Home / Blog Left</h6>
            <%= image_tag @restaurant.logo, class:"image_profil"%>
        </div>
        </section>

    </section>

</main>