<main>
    <section id="popular-dishes">
        <img src="<%= image_path('title-detail.png') %>" alt="title-detail">
        <h2>Nos Plats</h2>
        <p>les plats qui sont disponibles pour vous chez nous. </p>
        <hr>
        <ul class="dishes">
            <% @dishes.order(:cached_votes_down).each do |dish|%>
                <%= render 'dish', item: dish%>
                    <%end%>
        </ul>
        <%= paginate @dishes %>
    </section>
</main>

<!-- jQuery -->
<script type="text/javascript" src="/assets/jquery-1.11.1.min.js"></script>
<!-- bxSlider -->
<script type="text/javascript" src="/assets/jquery.bxslider.min.js"></script>
<!-- magnificPopup -->
<script type="text/javascript" src="/assets/jquery.magnific-popup.min.js"></script>
<!-- Img Liquid -->
<script type="text/javascript" src="/assets/imgLiquid-min.js"></script>
<!-- Tooltipster -->
<script type="text/javascript" src="/assets/jquery.tooltipster.min.js"></script>
<!-- Main -->
<script type="text/javascript" src="/assets/main.js"></script>