  <% item.each do |items|%> 
    <a href="<%= type_path(items.id)%>" class="btn badge badge-info badge-pill pt-3 active col-sm-auto w-auto mx-1 " role="button" aria-pressed="true"> <%= items.name%> </a>
  <%end%>
  