<link href="http://netdna.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="http://code.jquery.com/jquery-1.11.1.min.js"></script>
<script src="http://netdna.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script> 
<link rel ="stylesheet" href="table.css">


<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" type="text/css" href="style.css">
</head>
<body> 

<div class="container">
  <table id="cart" class="table table-hover table-condensed">
    <thead>
      <tr class="header-table">
        <th style="width:10%">Plats</th>
        <th style="width:18%">Nom</th>
        <th style="width:25%">Description</th>
        <th style="width:12%">Prix</th>
        <th style="width:10%"></th>
      </tr>
    </thead>
    <tbody>
     
            <tr>
              <td data-th="Product">
                <!-- <div class="row"> -->
                  <img src="index.jpeg" class="img">
                <!-- </div> -->
              </td>
              
              <td data-th="title">
                <p>Maxi-pizza</p>
              </td>

              <td class="hidden-xs">azertyui</td>

              <td data-th="Price">$</td>
             
             <td><span class="box">Commander</span></td>
        
            </tr>
           
    </tbody>
    
  </table>
</div>