// Place all the styles related to the category controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.badge-info{
    font-size: larger ;
    background-color:#0f0f0f40
}
    
.badge-info:hover{
    font-size: larger ;
    background-color:#ffa066
}

.raccourci{
    font-size: small;
    margin-bottom: 2%;
}