// Place all the styles related to the test controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
<<<<<<< HEAD
//clickeat logo
=======
//clickeat logo 
.logo-clickeat {
    inline-size: 500px;
    padding: 0px;
    margin-top: -40px;
    margin-left: -150px;
}

.clickeat-write {
    inline-size: 350px;
    position: absolute;
    margin-top: 150px
}
>>>>>>> Merge_front_data
