<!--FOOTER-->
		<footer>
			<section id="info">
				<!--ABOUT MOZZARELLA-->
				<article>
					<h5>About Mozzarella</h5>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do re eiusmod tempor incididunt ut labore et dolore magna porem ed ipsum dolor sit amet, consectetur. Do re eiusmod tempor incididunt ut labore et dolore magna porem ed ipsum dolor sit amet, consectetur.</p>
					<ul class="c-info">
						<li>Fake street 123 - Springfield, USA</li>
						<li>inquiries@mozzarellabar.com</li>
						<li>(+044) 555 - 123 - 1234 / 35</li>
					</ul>
				</article>
				<!--/ABOUT MOZZARELLA-->

				<!--OUR LATESTS POSTS-->
				<article class="side-posts latests">
					<h5>Our Latests Posts</h5>
					<!--POST-->
					<article>
						<div class="circle small">
							<figure class="imgLiquidFill">
								<img src="/assets/blog/blog_image.png" alt="post">
							</figure>
							<a href="post.html">
								<img src="/assets/plus-icon-small.png" alt="plus-icon-small">
							</a>
						</div>
						<h6><a href="post.html">Touring Through The City</a></h6>
						<p>Lorem ipsum dolor sit amet, conte ad ipsum lorem.</p>
					</article>
					<!--/POST-->

					<!--POST-->
					<article>
						<div class="circle small">
							<figure class="imgLiquidFill">
								<img src="/assets/blog/blog_image.png" alt="post">
							</figure>
							<a href="post.html">
								<img src="/assets/plus-icon-small.png" alt="plus-icon-small">
							</a>
						</div>
						<h6><a href="post.html">10 Easy Red Onion Recipes</a></h6>
						<p>Lorem ipsum dolor sit amet, conte ad ipsum lorem.</p>
					</article>
					<!--/POST-->

					<!--POST-->
					<article>
						<div class="circle small">
							<figure class="imgLiquidFill">
								<img src="/assets/blog/blog_image.png" alt="post">
							</figure>
							<a href="post.html">
								<img src="/assets/plus-icon-small.png" alt="plus-icon-small">
							</a>
						</div>
						<h6><a href="post.html">Healthy Tea Benefits</a></h6>
						<p>Lorem ipsum dolor sit amet, conte ad ipsum lorem.</p>
					</article>
					<!--/POST-->
				</article>
				<!--/OUR LATESTS POSTS-->

				<!--FLICKR WIDGET-->
				<article>
					<h5>Flickr Widget</h5>
					<ul id="flickr-w"></ul>
				</article>
				<!--/FLICKR WIDGET-->

				<!--OPENING HOURS-->
				<article>
					<h5>Opening Hours</h5>
					<article class="op-hours">
						<div>
							<h6>Monday</h6>
							<h6>7:00PM - 2:00AM</h6>
						</div>
						<div>
							<h6>Tuesday</h6>
							<h6><span>Closed</span></h6>
						</div>
						<div>
							<h6>Wednesday</h6>
							<h6>7:00PM - 2:00AM</h6>
						</div>
						<div>
							<h6>Thursday</h6>
							<h6>7:00PM - 2:00AM</h6>
						</div>
						<div>
							<h6>Friday</h6>
							<h6>7:00PM - 2:00AM</h6>
						</div>
						<div>
							<h6>Saturday</h6>
							<h6>7:00PM - 2:00AM</h6>
						</div>
						<div>
							<h6>Sunday</h6>
							<h6>7:00PM - 2:00AM</h6>
						</div>
					</article>
				</article>
				<!--/OPENING HOURS-->
			</section>
			<section id="copy">
				<h5><span>Mozzarella Theme 2014 |</span> All Rights Reserved</h5>
				<nav>
					<ul>
						<li><a href="index.html">Home</a></li>
						<li><a href="menu.html">Menu</a></li>
						<li><a href="blog.html">Blog</a></li>
						<li><a href="gallery-4c.html">Gallery</a></li>
						<li><a href="events.html">Calendar</a></li>
						<li><a href="index.html#contact">Contact</a></li>
					</ul>
				</nav>
			</section>
		</footer>
		<!--/FOOTER-->