<!--FOOTER-->
<footer>
    <section id="info">
        <!--ABOUT ClickEat -->
        <article>
            <h5>About ClickEat</h5>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do re eiusmod tempor incididunt ut labore et dolore magna porem ed ipsum dolor sit amet, consectetur. Do re eiusmod tempor incididunt ut labore et dolore magna porem ed ipsum dolor
                sit amet, consectetur.</p>
            <ul class="c-info">
                <li>Fake street 123 - Springfield, USA</li>
                <li>inquiries@mozzarellabar.com</li>
                <li>(+044) 555 - 123 - 1234 / 35</li>
            </ul>
        </article>
        <!--/ABOUT MOZZARELLA-->

        <!--/OUR LATESTS POSTS-->

        <!--FLICKR WIDGET-->
        <article>
        </article>
        <!--/FLICKR WIDGET-->


        <!--/OPENING HOURS-->
    </section>
    <section id="copy">

    </section>
</footer>
<!--/FOOTER-->