<!--FOOTER-->
<footer>
    <section id="info">
        <!--ABOUT ClickEat -->
        <article>
            <h5>A propos de ClickEat</h5>
            <p>Nous vous proposons les restaurants et le plats disponibles ici à Antananarivo et ses périphériques </p>
            <ul class="c-info">
                <li>Antananarivo</li>
                <li>Clickeat.mada@gmail.com</li>
                <li>+26 34 65 645 25</li>
            </ul>
        </article>
        <!--/ABOUT MOZZARELLA-->

        <!--/OUR LATESTS POSTS-->

        <!--FLICKR WIDGET-->
        <article>
            <h5>
                NOS SERVICE
            </h5>
            <p>À moto, on livre où que vous soyez car</br>
            “Les rires éclatent mieux lorsque la nourriture est bonne”</br>
             et on est là pour vous redonner le sourire.
            </p>
                
        </article>
        <!--/FLICKR WIDGET-->
        <article>
            <h5>POUR LES RESTAURANTS</h5>
            <p>Si vous souhaitez vous inscrire en tant que restaurant,</br> veuillez nous contacter par email.</br> Pour qu' on puisse vous renvoyer un lien d'inscription</p> 
        </article>


        <!--/OPENING HOURS-->

    </section>

    <section id="copy">
        <h5>
            <span>  © 2019 - 2020 |</span> Réalisé par Prometheus
        </h5>
    </section>
</footer>
<!--/FOOTER-->