<!--FOOTER-->
<footer>
    <section id="info">
        <!--ABOUT ClickEat -->
        <article>
            <h5>A propos de ClickEat</h5>
            <p>Nous vous proposont les restaurants et le plats disponibles ici à Antananarivo, </p>
            <ul class="c-info">
                <li>Antananarivo</li>
                <li>Clickeat@gmail.com</li>
                <li>+26 34 65 645 25</li>
            </ul>
        </article>
        <!--/ABOUT MOZZARELLA-->

        <!--/OUR LATESTS POSTS-->

        <!--FLICKR WIDGET-->
        <article>
            <h5>
                NOS SERVICE
            </h5>
            <p></p>

        </article>
        <!--/FLICKR WIDGET-->
        <article>
            <h5>COMMENCER MAINTENANT</h5>
        </article>


        <!--/OPENING HOURS-->

    </section>

    <section id="copy">
        <h5>
            <span>  © 2019 - 2020 |</span> Réalisation par Prometheus
        </h5>
    </section>
</footer>
<!--/FOOTER-->