<header>
    <ul class="main-slider">
        <li class="first">
            <h1>ClickEat</h1>
            <h6>Livraison disponible à Antananarivo et ses environs</h6>
            <img src="/assets/slider1-decor.png" alt="stars-moustache">
            <a href="menu.html" target="_blank" class="square-button">Voir votre panier</a>
        </li>
        <li class="second">
            <h2>A votre choix</h2>
            <h6>Un plat ou un restaurant en particulier ?</h6>
            <a href="<%=restaurant_index_path%>" target="_blank" class="square-button" style = "color: white">Voir nos restaurants</a>
        </li>
        <li class="third">
            <h2>Cliquer</h2>
            <h6>On vous livre quoi à manger? </h6>
            <a href="<%=dish_index_path%>" target="_blank" class="square-button" style = "color: white">Voir nos plats</a>
        </li>
    </ul>
    <div class="pager-container">
        <a href="" data-slide-index="0"></a>
        <a href="" data-slide-index="1"></a>
        <a href="" data-slide-index="2"></a>
    </div>
</header>