<!--POPULAR DISHES-->
<section id="popular-dishes">
    <img src="<%= image_path('title-detail.png') %>" alt="title-detail" data-aos="zoom-in">
    <h2 data-aos="zoom-in">Restaurant</h2>
    <p></p>
    <hr data-aos="zoom-in">
    <div class="row">
        
            <div data-aos="fade-right" class="col-sm-6 aos-animation-image-size-restaurant">
            </div>
            <div class="col-sm-4" data-aos="fade-left">
                <p class="text1-aos-animation">
                    Pour vous, qui en avez assez de chercher dans quel restaurant commander. </br>
Ici, la recherche sera facilitée car on vous offre la possibilité de choisir une catégorie précise de restaurant qui arrivera à assouvir votre faim.</br>
Nous vous en offrons plusieurs car chez nous votre choix compte plus que tout.</br>
 Pour voir, on vous invite à cliquer sur le lien ci-dessous.</br>
                </p>
                <a href="<%=category_index_path%>" class="square-button ml-5" style="color: white; background-color: orange">Voir les catégories</a>
            </div>
    </div>
</section>