<!--POPULAR DISHES-->
<section id="popular-dishes">
    <img src="<%= image_path('title-detail.png') %>" alt="title-detail" data-aos="zoom-in">
    <h2 data-aos="zoom-in">Plats</h2>
    <p></p>
    <hr data-aos="zoom-in">
    <div class="row">
        <div class="col-md-12">
            <div class="col-md-4" data-aos="fade-rigth">
                <p class="text2-aos-animation">Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestias quod quasi sunt nesciunt,</p>
            </div>
            <div data-aos="fade-left" class="col-md-6 aos-animation-image-size-dish">
            </div>
        </div>
    </div>


</section>
<!--/POPULAR DISHES-->