<!--POPULAR DISHES-->
<section id="popular-dishes">
    <img src="<%= image_path('title-detail.png') %>" alt="title-detail" data-aos="zoom-in">
    <h2 data-aos="zoom-in">Plats</h2>
    <p></p>
    <hr data-aos="zoom-in">
    <div class="row">
        
            <div class="col-sm-4" data-aos="fade-right">
                <p class="text2-aos-animation">Ici, c’est différent.</br>
Vous avez un goût précis qui vous titille les papilles mais vous ne savez pas quoi manger?</br>
Nous vous offrons maintenant, l’embarras du choix via un panolie de plat classer type selon votre désir.</br> 
Un proverbe irlandais dit : “Les rires éclatent mieux lorsque la nourriture est bonne”  donc vaut mieux , faire le choix par soi-même.</br> 
Pour essayer, cliquez sur le lien ci-dessous.</br></p>
                <a href="<%=type_index_path%>" class="square-button ml-5" style="color: white; background-color: orange">Voir les types</a>
            </div>
            <div data-aos="fade-left" class="col-sm-6 aos-animation-image-size-dish">
            </div> 
    </div>
</section>
<!--/POPULAR DISHES-->