<article>
    <img src="<%=image_path('/assets/background1.jpg')%>" alt="restaurant-image" class="style-image-restaurant">
</article>
<section>
    <div>
        <h6 class="name-profil">Home / Blog Left</h6>
        <img src="<%= image_path('menu/menu_photo.png') %>" alt="menu-dish" class="profil-image">
    </div>

</section>