<article id="blog-banner">
</article>
<section id="blog">
    <!--POST-->
    <article id="post-list" class="left">
        <article class="post">
            <div class="gplus-share-button">
                <div class="g-plusone" data-size="medium"></div>
            </div>
            <a class="twitter-share-button" href="https://twitter.com/share"></a>
            <!-- Facebook Like & Share -->
            <div id="fb-root"></div>
            <div class="fb-share-button" data-href="http://www.mozzarellaURL.com" data-layout="button_count"></div>
            <h4>Post Title</h4>
            <p class="info">By <span>Admin</span> | 2014-11-23 | 24 Comments</p>
            <div class="description">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud ion ullamco laboris nisi ut aliquip ex e.</p>
            </div>
        </article>
        <!--TAGS-->
        <article class="tags">
            <a href="#">Touring</a>
            <a href="#">City</a>
        </article>
        <!--/TAGS-->

</section>